doctype html
html
  head
    title Music Generator
    script.
      if (typeof module === 'object') {
      window.module = module;
      module = undefined;
      }
    include scripts.jade
    style(type='text/css', media='screen').
      body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        margin-top: 60px;
      }
      form {position: relative;}
      .editor {
        border: 1px solid #444;
        /*border-radius: 5px;*/
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      }
  body
    // Menu
    include topmenu.jade
    include bottommenu.jade
    // Modal
    #tutorial.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h4.modal-title Syntax
          .modal-body
            include:marked syntax.md
          .modal-footer
    #instr.modal.fade(tabindex='-2', role='dialog', aira-hidden='true')
      .modal-dialog.modl-lg(role='document')
        .modal-content
          .modal-header
            h4.modal-title Instrument Code
          .modal-body#instr_code
            #accordion.panel-group
              each e, i in _instr
                .panel.panel-default
                  .panel-heading
                    h5.panel-title
                      a(data-toggle='collapse', data-parent='#accordion', href='#collapse_'+ i.replace(' ', '-')) #{i}
                  panel-collapse.collapse(id='collapse_'+ i.replace(' ', '-'))
                    .panel-body
                      ul
                        each item in e
                          li #{item}

          .modal.footer

    // Ctrl
    #ctrl.modal.fade(tabindex='-2', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm(role='')
        .modal-body
          input.form-control#ctrl_mul(type="text", placeholder="2")
          button.btn-default#inc_ctrl(data-dismiss='modal') Multiply
    // Contents
    .container-fluid
      // Viewer
      #score_viewer.row
        .tab-content.col-sr-10.col-xs-9
          .tab-pane.in.active#img_viewer
            img#score_img.img-responsive(src='')
          .tab-pane#pdf_viewer
            #canvas-wrapper(style="height:400px; overflow: scroll")
              canvas#the-canvas(style='border:1px solid black')
            ul.pager#pdf_pager
              li
                a.prev Previous
              li
                a.next Next
                |  &nbsp; &nbsp;
              li Page:
                span.page_num 1
                |  /
                span.page_count 1
          .tab-pane#midi_viewer
            .canvas-wrapper(style='height: 600;')
              // canvas#midi_pointer(style='width: 100%; height:100%;left: 0; top: 0; z-index:0;')
              canvas#midi_score(style='width: 100%;left: 0; top: 0; z-index: 1;border:1px solid black;')
            ul.pager#midi_pager
              li
                a.prev Previous
              li
                a.next Next
                |  &nbsp; &nbsp;
              li Page:
                span.page_num 1
                |  /
                span.page_count 1
        .nav.col-sr-1.col-xs-3
          ul.list-group
            li.list-group-item
              #gen.btn.btn-info.btn-block Generate
            li.list-group-item
              #parse.btn.btn-primary.btn-block Parse
            li.list-group-item
              #play_melody.btn.btn-info.btn-block Melody
                span.glyphicon.glyphicon-play

            li.list-group-item
              #play_harmony.btn.btn-info.btn-block Harmony
                span.glyphicon.glyphicon-play

            li.list-group-item
              #play_MIDI.btn.btn-info.btn-block MIDI
                span.glyphicon.glyphicon-play

        .col-sr-1.sr-only

      // Player
      .row
        .col-md-7.col-xs-10
          progress#midi_progress.progress.hidden.progress-info(max='100', value='0', style='width: 100%;') 
          input#play_slider.progress(type='range', min='0', max='100', value='0') 
        .col-md-3.col-xs-2
          a.pager
            span#currentTime 
            | / 
            span#endTime
        .col-md-1.col-xs-0
      // Editor 1
      .row
        .col-sr-6.col-xs-10.col-md-6
          ul.nav.nav-tabs.nav-justified.nav-pills
            li.active(data-toggle='tab', data-target='#melody_wrapper')
              a(href='#melody_wrapper') Melody
            li(data-toggle="tab", data-target='#harmony_wrapper')
              a(href='#harmony_wrapper') Harmony
            li(data-toggle='tab',data-target='#texture_wrapper')
              a(href='#texture_wrapper') Texture
            li.xs-only
          .tab-content
            .tab-pane.in.active#melody_wrapper
              .editor#ace_melody(style='height:300px')
            .tab-pane#harmony_wrapper
              .editor#ace_harmony(style='height:300px')
            .tab-pane#texture_wrapper
              .editor#ace_texture(style='height:300px')
        .xs-only.col-xs-2
        .col-sr-6.col-xs-10.col-md-6
          ul.nav.nav-tabs.nav-justified.nav-pills
            li.active(data-toggle='tab', data-target='#score_wrapper')
              a(href='#score_wrapper') Score Settings
            li(data-toggle='tab', data-target='#schema_wrapper')
              a(href='#schema_wrapper') Schema
            li.xs-only
          .tab-content
            .tab-pane.in.active#score_wrapper
              .editor#ace_score(style='height:300px')
              ul#btn_gp1

            .tab-pane#schema_wrapper
              .editor#ace_schema(style='height:300px')
              ul#btn_gp2
        .xs-only.col-xs-2


      .row
    // my js file
    each item in _coffee
      script(src='./coffee/#{item}.js', type='text/javascript')
    each item in _js
      script(src='./js/#{item}.js', type='text/javascript')
    script.
      if (window.module) module = window.module;
      
