- var pre = "./js" // 'https://scoreur.github.io/gen/js'
// jQuery
script(src='./js/lib/jquery-2.2.4.min.js', type='text/javascript')
script(src='./js/lib/notify.min.js', type='text/javascript')
// underscore
script(src='./js/lib/underscore-min.js', type='text/javascript')
// Bootstrap
// Latest compiled and minified CSS
link(rel='stylesheet', href='./js/lib/bootstrap.min.css')
// Optional theme
link(rel='stylesheet', href='./js/lib/bootstrap-theme.min.css')
// Latest compiled and minified JavaScript
script(src='./js/lib/bootstrap.min.js')
// script(src="./js/lib/jszip.min.js", type='text/javascript')
// shims
script(src='./js/shim/Base64.js', type='text/javascript')
script(src='./js/shim/Base64binary.js', type='text/javascript')
script(src='./js/shim/WebAudioAPI.js', type='text/javascript')
// jasmid
script(src='./js/jasmid/stream.js', type='text/javascript')
script(src='./js/jasmid/midifile.js', type='text/javascript')
script(src='./js/jasmid/replayer.js', type='text/javascript')
// midi.js
script(src='./js/plugin/audioDetect.js', type='text/javascript')
script(src='./js/plugin/gm.js', type='text/javascript')
script(src='./js/plugin/plugin.js', type='text/javascript')
script(src='./js/plugin/loader.js', type='text/javascript')
script(src='./js/plugin/player.js', type='text/javascript')
// mp3lame
script(src='./js/lib/lame.min.js', type='text/javascript')
// utils
script(src='./js/util/dom_request_xhr.js', type='text/javascript')
script(src='./js/util/dom_request_script.js', type='text/javascript')
script(src='./js/util/FileSaver.js', type='text/javascript')
script(src='./js/util/FileLoader.js', type='text/javascript')

// ace editor
script(src='./js/lib/ace.js', type='text/javascript')
script(src='./js/lib/mode-score.js', type='text/javascript')
// pdf js
script(src='./js/lib/pdf.js', type='text/javascript')
// fabric canvas
script(src='./js/lib/fabric.min.js', type='text/javascript')
// vexflow
script(src='./js/vexflow-debug.js', type='text/javascript')
