nav#top-menu.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        img.img-circle.img-responsive(src='img/logo.png', style='width:50px;height:50px')
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Music Generator
            span.sr-only (current)
        li
          a(href='#') Demo
        // Menu File
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') File
            span.caret                     
          ul.dropdown-menu
            li
              a#open_midi Open MIDI
            li
              a#save_midi Save MIDI
            li
              a#open_json Import                      
            li
              a#export Export                      
            li.divider(role='separator')                         
            li
              a#open_img Open Score Image
            li
              a#open_pdf Open Score PDF
            li
              a#save_score Save Rendered Score
        // Menu Edit
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Edit
            span.caret
          ul.dropdown-menu
            li
              a#reset_editor Reset Editor
            li
              a(data-toggle='modal', data-target='#ctrl') Increase Controls
        // Menu View
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') View
            span.caret
          ul.dropdown-menu.nav.nav-tabs.nav-stacked
            li(data-toggle='tab', data-target='#img_viewer')
              a View Image
            li(data-toggle='tab', data-target='#pdf_viewer')
              a View PDF
            li(data-toggle='tab', data-target='#midi_viewer')
              a View MIDI Score

      //
        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text",placeholder="Search")
            button.btn.btn-default(type="submit") Submit
      ul.nav.navbar-nav.navbar-right.navbar-inverse
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Help
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li.divider(role='separator')
            li
              a(href='#') Separated link
        li
          a(href='about.pdf', target='_blank') About
    // /.navbar-collapse